
<div class="mb-4">
    <h2>Synthèse</h2>
    <p>
        Ci-dessous une première synthèse de la valeur actuelle de votre portefeuille
        en tenant compte de tous vos apports et retraits,
        des plus et moins <strong>réalisées</strong> et <strong>latentes</strong>
        ainsi que les frais de gestion. .
    </p>
    <p>
        <b>Important :</b> Notre rémunération est présentée dans le tableau ci-dessous, rubrique <b>frais de gestion</b>.
        Ils sont de 0,7% (taux annuel) et s'appliquent à la valeur boursière de vos actifs.
        Ils sont calculés, provisionnés et intégrés quotidiennement
        dans la valorisation de votre portefeuille.
        Vos résultats, votre rendement, vos indicateurs de performances et vos indicateurs de risques
        sont calculés et restitués net de frais.
    </p>

    <div class="p-lg-5 p-sm-2 mb-auto">
        <div class="text-center">
            <h4>Rendement annuel</h4>
            <h3 class="py-4" style="font-size:5rem;">
                <span class="portfolio-irr"></span>
            </h3>
            <div class="row py-5">
                <div class="col-md p-3">
                    <h4>Montants</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-synthesis">
                            <tr>
                                <td class="text-start"><label>Apports</label></td>
                                <td class="text-end synthesis-item fw-bold" data-indicator="Capital"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>+/- réalisées</label></td>
                                <td class="text-end synthesis-item" data-indicator="RealizedValue"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>+/- latentes</label></td>
                                <td class="text-end synthesis-item" data-indicator="UnrealizedValue"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Dividendes</label></td>
                                <td class="text-end synthesis-item" data-indicator="Incomes"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Valeur brute</label></td>
                                <td class="text-end synthesis-item" data-indicator="GrossValue"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Frais de gestion</label></td>
                                <td class="text-end synthesis-item" data-indicator="ManagementFees"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Valeur nette</label></td>
                                <td class="text-end synthesis-item fw-bold" data-indicator="NetValue"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md p-3">
                    <h4>Indicateurs</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-synthesis">
                            <tr>
                                <td class="text-start"><label>Performance annuelle</label></td>
                                <td class="text-end indicator-item fw-bold" data-indicator="yield"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Performance global</label></td>
                                <td class="text-end indicator-item" data-indicator="netreturn"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Volatilité</label></td>
                                <td class="text-end indicator-item" data-indicator="stddev"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Perte maximale</label></td>
                                <td class="text-end indicator-item" data-indicator="maxdrawdown"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Value at Risk</label></td>
                                <td class="text-end indicator-item" data-indicator="var95"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Ratio de Sharpe</label></td>
                                <td class="text-end indicator-item" data-indicator="sharpe"></td>
                            </tr>
                            <tr>
                                <td class="text-start"><label>Taux de rendement</label></td>
                                <td class="text-end portfolio-irr fw-bold"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="mb-4">
    <h2>Performances</h2>
    <p>
        Ci-dessous l'évolution de la performance de votre portefeuille
        calculée selon la méthode TWR (en anglais <em>Time Weighted Returns</em>)
        et en prenant 100€ comme valeur initiale.
        Cette méthode, insensible aux apports et retraits
        permet de comparer votre portefeuille à un indice,
        un intrument financier ou un autre portefeuille.
    </p>

    <div class="py-5">
        <div class="lines-chart-container navs-container">
            <div id="navs" class="dc-chart lines-chart portfolio-content" data-option="3Y" data-animation="1000" data-x-dim="valuedate" data-y-dim="price"></div>
        </div>
    </div>
    <em>
        Si votre portefeuille est <b>benchmarké</b>, les performances du benchmark seront rajoutées.
    </em>
    <em>
        Les éventuels marqueurs affichés sur ce graphe correspondent à des
        décisions de gestion ou des changements de stratégies consultables plus
        en détails dans votre rubrique <b>Notes</b>.
    </em>

</div>

<div class="mb-4 results-container">
    <h2>Derniers résultats mensuels</h2>
    <p>
        Le graphique ci-dessous permet de visualiser l'évolution des performances de votre portefeuille
        mois par mois. Par défaut, la fenêtre consultée est sur les 12 derniers mois
        mais vous pouvez choisir les dates de début et de fin.
    </p>
    <div class="row">
        <div class="col-3">
            <div class="mb-3 form-floating datepick">
                <input type="date" class="form-control" id="fromDate" name="fromDate" value="@DateTime.Today.AddYears(-1).ToString("yyyy-MM-dd")">
                <label for="fromdate">Date de début</label>
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3 form-floating datepick">
                <input type="date" class="form-control" id="toDate" name="toDate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
                <label for="todate">Date de fin</label>
            </div>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary btn-show-breakdowns" data-container="#breakdowns">Afficher la période</button>
    </div>
    <div id="breakdowns" class="waterfall-container"></div>
</div>