
<style>
    .legend-container .legend {
        position:relative !important;
        top:unset;
        left:unset;
        background-color:unset;
        max-height:unset;
        overflow:unset;
    }
</style>

<div class="row align-items-md-stretch">

    <div class="col-lg-6 mx-auto">

        <div class="mb-4 p-3 bg-light">
            <h2>Allocation par classe d'actifs</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la composition actualisée du portefeuille.
                    Cette composition est présentée en 3 niveaux hiérarchiques:
                    <ol>
                        <li>Thématique (modèle)</li>
                        <li>Classe d'actifs</li>
                        <li>ETF</li>
                    </ol>
                    La composition de ce portefeuille est revue quotidiennement afin de réfléter
                    les mouvements de marché, les poids affichés peuvent évoluer mais
                    de manière très faible. Si vous avez opter pour un rebalancement automatique ou programmé,
                    celui-ci est pris en compte à date anniversaire ou selon les conditions
                    de déclenchement prévues à cet effet.
                </p>
            </div>
            <div class="treemap-container w-100 h-60">
                <div id="tree1" class="portfolio-content treemap allocation-container"></div>
            </div>
        </div>

        <div class="mb-4 p-3 bg-light">
            <h2>Capitalisation des sociétés</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la répartition de vos encours en <b>actions</b> par taille des entreprises
                    investies. Nous avons tenu compte de votre appétence aux
                    risques ainsi que vos thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="caps" class="portfolio-content sectormap breakdowns w-100 h-60" data-action="MarketCapBreakdown" data-legend=""></div>

        </div>
    </div>

    <div class="col-lg-6 mx-auto">

        <div class="mb-4 p-3 bg-light">
            <h2>Exposition sectorielle</h2>
            <div class="py-3">
                <p>
                    D'un point de vue sectoriel, voici les principaux secteurs sur lesquels
                    les actions du portefeuille sont exposées. Nous avons tenu compte de votre appétence aux
                    risques ainsi qu'aux thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="sectors" class="portfolio-content sectormap breakdowns w-100 h-60" data-action="SectorBreakdown" data-legend=""></div>
        </div>

        <div class="mb-4 p-3 bg-light">
            <h2>Expositions géographiques</h2>
            <div class="py-3">
                <p>
                    Ci-dessous la répartition de vos encours en <b>actions</b> par région exposée.
                    Nous avons tenu compte de votre appétence aux
                    risques ainsi que vos thématiques recherchées.
                    Tout comme la grille d'allocation, les poids sont revisés quotidiennement
                    en fonction des mouvements de marchés et des nouveaux arbitrages.
                </p>
            </div>
            <div id="world" class="geomap w-100 h-50" style="min-height:400px;" data-table="#geo-exposures"></div>
            <div class="py-3">
                <p>Le tableau précise les différentes expositions géographiques en % du portefeuille</p>
                <div class="table-responsive mx-5">
                    <table class="table table-light small">
                        <thead>
                            <tr>
                                <th>Zone géographique</th>
                                <th>Exposition actions</th>
                            </tr>
                        </thead>
                        <tbody id="geo-exposures"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

